<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
</head>
<body>
<div>
<nav class="navbar sticky-top navbar-dark bg-primary d-flex justify-content-center" style="width:100%">
    <a class="navbar-brand" href="#"><h1>Web Engineering Seminar Demo</h1></a>
</nav>
    <div class="text-center">
  <div class="card-body">
    <h5 class="card-title">WIKICSSH Demo</h5>
    <p class="card-text">Wikipedia-based Computer Science subject headings (WikiCSSH)7 [5]. WikiCSSH was created with a mixed methods approach to extracting CS-relevant subject headings, which included breadth first search in the WCT; followed by manual filtering, community detection, embedding-based classification, and human-created rules for removing false positives. Finally, the construction of WikiCSSH benefited from the automatic association of Wikipedia pages with Wikipedia categories, which we used for the automatic expansion of WikiCSSH to include pages affiliated with Wikipedia categories into WikiCSSH. </p>
    <a class="btn btn-success" href="WES/tapping">Tagging of WIKI-CSSH</a>
      <a class="btn btn-success" href="WES/visualize">Visualization of WIKI-CSSH</a>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>







<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>